html {
  background-color: #202020;
}

body {
  font-family: Lato, sans-serif;
  overflow: hidden;
}

/* Colors */

.has-dark-grey-bg {
  background-color: #161B1F;
}

.has-light-grey-bg {
  background-color: #333333;
}

.has-text-bright-blue {
  color: #00CBFE;
}

.has-text-light-grey {
  color: #9A9A9A;
}

/* Colors choose by the user */

.picked-color-bg {
  background-color: #ff88af;
  color: #161B1F;
}

.picked-color-text {
  color: #ff88af;
}

/* Positions */

.vcenter {
  display: flex;
  align-items: center;
}

.hcenter {
  display: flex;
  justify-content: center;
}

.hright {
  justify-content: flex-end;
}

.hleft {
  justify-content: flex-start;
}

.padding-left-xs {
  padding-left: 0.5em;
}

.margin-right-xs {
  margin-right: 1em;
}

.font-size-s {
  font-size: 12px;
}

/* Required changes to the framework's tags */

nav.navbar {
  padding-left: 1em;
  padding-right: 1em;
}

.navbar .navbar-brand a:hover {
  background-color: #161B1F;
}

.navbar .navbar-brand .navbar-burger {
  border: none;
  background-color: #161B1F;
  color: #999999;
}

.navbar-menu .control .input {
  background-color: #333333;
  color: #9A9A9A;
  border: 1px solid #47484A;
  border-radius: 2px;
}

.navbar-menu .control .input::-webkit-input-placeholder {
  color: #9A9A9A;
}

.navbar-menu .control .input::-moz-placeholder {
  color: #9A9A9A;  
}

.navbar-menu .control .input:-ms-input-placeholder {
  color: #9A9A9A;  
}

.navbar-menu .control .input:-moz-placeholder {
  color: #9A9A9A;  
}

.navbar-menu .control .icon {
  color: #9A9A9A;
}

.navbar-item.has-dropdown {
  border-radius: 4px;
  font-size: 0.750em;
}

.navbar-item, .navbar-link {
  padding: 0rem 1rem;
}

.navbar-item.has-dropdown .navbar-link.has-text-bright-blue {
  height: 18px;
  padding-top: 1.03em;
  padding-bottom: 1.03em;
  border-radius: 4px;
  padding-right: 2.5em;
  border: 1px solid #47484A;
}

.navbar-item.has-dropdown .navbar-link.has-text-bright-blue:hover {
  color: #00CBFE;
  background-color: #595959;
}

.navbar-item.has-dropdown.is-active .navbar-link {
  color: #00CBFE;
  background-color: #595959;
}

.navbar-item.has-dropdown .navbar-link::after {
  border-color: #00CBFE;
}

.navbar-dropdown {
  font-size: 0.950em;
  width: 100%;
  padding: 0;
  border: 1px solid #47484A;
}

.navbar-dropdown a.navbar-item:hover {
  background-color: #333333;
  color: #00CBFE;
}

.navbar-end .navbar-item .button {  
  border: 1px solid #47484A;
}

.navbar-end .navbar-item .button:hover {
  background-color: #595959;
  color: #00CBFE;
}

#main-container {
  margin-top: 1em;
}

figure.image img {
  width: auto;
  max-height: 60vh;
}

figure.image {
  text-align: center;
}

.arrow {
  margin-left: 1em;
  margin-right: 1em;
}

.tile.is-child {
  padding: 1em;
}

.info-menu a {
  font-size: 14px;
}

.name-account {
  margin-bottom: 1em;
}

.profile-pic {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
}

.profile-pic img {
  border-radius: 5px;
}

.info-profile {
  margin-bottom: 3em;
}

.ff-title {
  margin-bottom: 1em;
}

.ff-pics .columns {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.ff-item {
  margin-left: 5px;
  margin-right: 5px;
  height: 80px;
  overflow: hidden;
  padding: 0;
  border: 2px solid white;
}

.description-pic {
  border-left: 1px solid;
  padding-left: 1em;
}

.breadcrumb a {
  color: #ff88af;
}

.breadcrumb a:hover {
  text-decoration: underline;
  color: #ff88af;
}

.breadcrumb li + li::before {
  content: "|";
  color: #ff88af;
}

select.languages {
  font-family: Lato, sans-serif;
  background-color: #333333;
  color: #00CBFE;
  border: 1px solid #47484A;
  font-size: 12px;
}

select.languages:hover {
  border: 1px solid #47484A;
  background-color: #595959;
}

.select:not(.is-multiple)::after {
  border: 1px solid #00CBFE;
  border-right: 0;
  border-top: 0;
}

#comments {
  padding: 1em;
}

#post-a-comment {
  padding: 1em;
}

.comment-text {
  border-left: 1px solid;
  padding-left: 1em;
}

.nickname {
  font-weight: 700;
}

#submit {
  font-family: Lato, sans-serif;
  background-color: #333333;
  color: #00CBFE;
  border: 1px solid #47484A;
  font-size: 12px;
  margin-top: 1em;
}

.file-cta {
  font-family: Lato, sans-serif;
  background-color: #333333;
  color: #00CBFE;
  border: 1px solid #47484A;
  font-size: 12px;
}

#post-a-comment .file-cta:hover {
  color: #00CBFE;
  border: 1px solid #47484A;
  background-color: #595959;
}

#comments .columns {
  margin-left: 0;
}

@media (max-width: 1023px) {

  .navbar {
    display: flex;
    justify-content: center;
  }

  .breadcrumb:nth-child(2), .breadcrumb:nth-child(3) {
    margin-bottom: 0;
  }

}
